.red {
	background-color: #FF0000;
}
.orange{
	background-color: #FF530D;
}
.green{
	background-color: #00FF48;
}
.blue{
	background-color: #2C00FF;
}
.yellow{
	background-color: #B29E00;
}
.cyan{
	background-color: #00FFCA;
}
.lightgray{
	background-color: #DDDDDD;
}
.gray{
	background-color: #999999;
}
.darkgray{
	background-color: #777777;
}